/* @font-face {
font-family: 'Oswald';
src: url('../fonts/Oswald-ExtraLight.woff2') format('woff2'),
    url('../fonts/Oswald-ExtraLight.woff') format('woff'),
    url('../fonts/Oswald-ExtraLight.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Oswald';
    background-color: #f7f7f7;
}

* {
    box-sizing: border-box;

    // &:after,
    // &:before {
    //     box-sizing: border-box;
    // }
}


.container_center, .header__content {
    max-width: 1140px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header {
    width: 100%;
    padding-top: 46px;
    padding-bottom: 40px;
    position: absolute;
    z-index: 10;
}

.hat__l, .hat__r {
    display: none;

    @media (min-width: 992px) {
        display: block;
    }
}

.menu__toggle {
    // меняем цвет переключателя, выделяем границы
    color: #fff;
    width: 22px;
    height: 22px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 50;

    @media (min-width: 992px) {
    display: none;
    }

    // добавляем псевдоэлементы для центральной линии "бургера", таже плавность переключения.
    &:after,
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        border-top: 2px solid;
        transition: 0.3s;
    }

    // Для изменения бургера на крестик
    &:before {
        // transform: rotate(45deg);
    }

    &:after {
        // transform: rotate(-45deg);
    }

    &:hover {
        color: darken(#fff, 10%);
    }
}

.header__content, {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
        color: #FFFFFF;
        text-decoration: none;
    }

@media (min-width: 768px) {
  .menu {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px 0 0 -30px;
    }
}

.menu__item {
    line-height: 0px;
    font-size: 18px;
    line-height: 150%;
    padding-left: 31px;
}

.header__logo {
    margin: 0px 0px 0 31px;
}

.firstScreen  {
  display: -ms-flexbox;
  width: 100%;
  background: center bottom no-repeat;
  background-size: cover;
  position: relative;
  height: 974px;
}

.text {
    display: block;
    max-width: 100%;

}

@media (min-width: 768px) {
.atc {
    display: block;
    margin: 145px 0px 0 286px;
    // background-color: #f7f7f7;
}

.but_1 {
    margin: 60px 0px 0 35px;
    z-index: 10;
}

.but1 {
    margin: 40px 0px 0 100px;
    cursor: pointer;
    display: block;
    position: absolute;
    width: 20em;  height: 3em;
    z-index: 1;
    background-color: Transparent;
    border: none;
}

.secondScreen {
    display: -ms-flexbox;
    width: 100%;
    background: no-repeat;
    height: 1140px;
    margin-top: 186px;
    margin-left: -8px;
    padding-bottom: 65%;
}

    // Видео с ютуба с картинкой взятой из макета

.grid {
    display: flex;
    margin: 50px 0 50px -40px;

    &__item {
        width: 725px;
        height: 421px;
        // padding-left: 20px;
        margin-bottom: 20px;
        margin: 475px 0px 0 635px;

        iframe {
            width: 100%;
            height: auto;
        }
    }
}

.video {
    &__wrapper {
        position: relative;
            padding-bottom: 56.4%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .video__prev,
        iframe,
        video {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__prev {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__play {
        position: absolute;
        top: 52%;
        left: 50%;
        width: 5.6em;
        height: 5.6em;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .9;

        &:before {
            content: '';
            border: 12px solid transparent;
            border-left: 20px solid black;
            margin-right: -20px;
        }
    }
}

.says {
    display: block;
    margin: 62px 0px 0 147px;
}

}

    // Сетка с фотографиями
.wrapper {
    display: grid;
    grid-template: repeat(2, 75px) / repeat(7, 75px) ;
    // border: 2px dashed rgba(255, 55, 25, 1);
    grid-gap: 26px 20px;
    justify-items: start;
    justify-content: center;
    // background-color: #fff;
}

.grid__items {
    background-size: cover;
    text-align: center;
    // border: 2px dashed rgba(255, 55, 25, 1);
}

.grid__items_1 {
    grid-area: 1 / 1 / 10 / span 5;
    height: 795px;
   cursor: pointer;
}

.grid__items_2 {
    grid-area: 1 / 6 / span 4 / span 7;
    height: 373px;
    cursor: pointer;
}

.grid__items_3 {
    grid-area: 5 / 6 / span 8 / span 7;
    height: 678px;
    align-items: stretch;
    cursor: pointer;
}

.grid__items_4 {
    grid-area: 10 / 1 / span 3 / span 5;
    height: 254px;
    cursor: pointer;
}

.grid__items_5 {
    grid-area: 13 / 1 / span 4 / span 7;
    height: 362px;
    cursor: pointer;
}

.grid__items_6 {
    grid-area: 13 / 8 / span 4 / span 5;
    height: 362px;
    cursor: pointer;
}

.grid__logo {
    display: block;
    margin: 147px 0px 70px 395px;
    padding-top: 295px;
}

.but_2 {
    margin: -50px 0px 140px 705px;
    z-index: 10;
    background-color: #000;
}

.but2 {
    margin: 105px 0px 40px 10px;
    cursor: pointer;
    display: block;
    // position: absolute;
    width: 20em;  height: 3em;
    z-index: 1;
    background-color: Transparent;
    border: none;
}

.nextScreen {
    display: -ms-flexbox;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 15%;
    // z-index: 100;
    background: no-repeat;
}

.reviews {
    margin: 100px 0px 0px 130px;
}

.sponsorsScreen {
    margin: 140px 0px 0px -8px;

}

.spons {
    padding-top: 450px;
    margin: 0px 30px 0px 5px;
}

.spons1 {
    padding-top: 70px;
    margin: 0px 30px 290px 5px;
}

.container {
    text-align: center;
    margin: 168px 0 0 0;
}

.contacts {
    margin: 49px 0 0 0;
}

.but_3 {
    margin: 45px 0 0 0;
}
 */
