.header {
    padding-top: 11px;
    padding-bottom: 11px;
    position: absolute;
    width: 100%;
    z-index: 10;

    border-bottom: 1px solid rgba(#fff, 0.3);

    @media (min-width: 992px) {
        padding-top: 27px;
        padding-bottom: 27px;
        opacity: 1;
        border: 0;
    }

    @media (max-width: 991px) {
        // opacity: 0.3;
        // border: 1px solid #FFFFFF;
    }

    &__content {
        @extend .container_center;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 991px) {
            &:before {
                content: '';
                margin-right: 23px;
            }
        }
    }

    input {
        display: none !important;
    }

}
