doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title TATTOO CLUBS
        link(rel='stylesheet' href='css/style.css' attr='attr')
    body
        header.header
            .header__content
                    .menu__toggle
                    .hat__l
                        ul.menu
                          li.menu__item
                            a.menu__link(href='') Home
                          li.menu__item
                            a.menu__link(href='') About Us
                          li.menu__item
                            a.menu__link(href='') Works
                          li.menu__item
                            a.menu__link(href='') Contact
                            
                    .header__logo
                        a.logo(href='')
                            picture
                                //- source(srcset="img/logo.svg" media="()")
                                img(src="img/logo.svg" alt="")
                                    
                    .hat__r
                        ul.menu
                          li.menu__item
                            a.menu__link(href='') Facebook
                          li.menu__item
                            a.menu__link(href='') Twitter
                          li.menu__item
                            a.menu__link(href='') Instagram
                          li.menu__item
                            a.menu__link(href='') Youtube
            
        .firstScreen(style="background-image: url(..//img/Banner.png)")
            //- .firstScreen__bg(style="background-image: url(..//img/border.svg)")
            
            //- Второй блок "ARTIST TATTOO CLUBS". 
    // begin text
    section#text.text.section
        .container_center 
            .atc
                picture.text__atc
                    img.text(src="img/atc.png" alt="")
                .but_1
                    button.but1(type="submit") 
                    img(src="img/button.jpg", alt="")
                    
                    //- a.but1(href='https://vk.com/tattoo69level')
                    //-     img(src='img/button.jpg', alt='')
                    //- 
    // end         
            //- Третий блок, видео с Ютуба и картинкой из макета
    // begin 
    section#block.video.section
    .secondScreen(style="background-image: url(img/process.jpg)")
        .grid
            each item in ['']
                .grid__item
                    .video__wrapper.js-youtube#6UGl95o2oYE
                        img.video__prev(src="img/process2.jpg", alt="")
    // end 
        
        // begin say
    section#says.says.section
        .says
            picture.says
                img.says(src="img/says.svg" alt="")
        .screenBoarder(style="background-image: url(img/border.svg)")
                        //- img.board(src="img/border.svg", alt="")
                
        
        // end say
        
        // begin works
    section#works.works
    .nextScreen(style="background-image: url(img/background.png)")
        .container_center
            img.grid__logo(src="img/gro.svg" alt="")
            .wrapper__slider
                .wrapper
                    div.grid__items.grid__items_1 
                        .slider__grid
                            img(src="img/ph-1.jpg", alt="")
                    div.grid__items.grid__items_2 
                        .slider__grid
                            img(src="img/ph-2.jpg", alt="")
                    div.grid__items.grid__items_3 
                        .slider__grid
                            img(src="img/ph-3.jpg", alt="")
                    div.grid__items.grid__items_4 
                        .slider__grid
                            img(src="img/ph-4.jpg", alt="")
                    div.grid__items.grid__items_5 
                        .slider__grid
                            img(src="img/ph-6.jpg", alt="")
                    div.grid__items.grid__items_6 
                        .slider__grid
                            img(src="img/ph-5.jpg", alt="")
                                
                        .slider__arrow.slider__prev
                        .slider__arrow.slider__next                    
        .but_2
            //- button.but2(type="submit" onclick="# = #") 
            //-     img(src="img/butt2.png", alt="")
            a.but2(href='https://vk.com/albums-9687466')
                img(src='img/butt2.png', alt='')
            
        
        // end works
        
// begin reviews
section#reviews.reviews.section
    .container_center
        picture.reviews
            img(src="img/reviews.png" alt="")
        .reviews__content
        

// end reviews
            
// begin sponsors
section#sponsors.sponsors.section
.sponsorsScreen(style="background-image: url(img/sponsors.png)")
    .container_center
        ul.menu
          li.menu.spons
            a.menu__link(href='https://trueagency.ee/')
                img(src="img/trueagency.png", alt="")
          li.menu.spons
            a.menu__link(href='')
                img(src="img/tlagency.png", alt="")
          li.menu.spons
            a.menu__link(href='')
                img(src="img/creative.png", alt="")
          li.menu.spons
            a.menu__link(href='') 
                img(src="img/webtechnology.png", alt="")
            
        ul.menu
          li.menu.spons1
            a.menu__link(href='') 
                img(src="img/trueagency.png", alt="")
          li.menu.spons1
            a.menu__link(href='') 
                img(src="img/tlagency.png", alt="")
          li.menu.spons1
            a.menu__link(href='') 
                img(src="img/creative.png", alt="")
          li.menu.spons1
            a.menu__link(href='') 
                img(src="img/webtechnology.png", alt="")
                    
    //- .sponsorsScreen(style="background-image: url(img/sponsors.png)")
        .sponsors__content
        

// end sponsors            
footer
    .container
        picture.end
            img.contact(src="img/contact.png" alt="")
            p +46(0)255 345 355 15
            .contacts
                img(src="img/foot.png" alt="")
            .but_3
                a.but3(href='#')
                    img(src='img/but3.png', alt='')
    p
    | &copy; 2021 |
    i.fa.fa-github(aria-hidden='true') &nbsp;
    a(href='#') View Source
    
script(src="js/jquery-3.6.0.min.js")
script(src="js/js.js")
        
    
            
            
