/* @font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-ExtraLight.woff2") format("woff2"), url("../fonts/Oswald-ExtraLight.woff") format("woff"), url("../fonts/Oswald-ExtraLight.ttf") format("truetype");
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.ttf") format("truetype");
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.ttf") format("truetype");
} */

@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&display=swap');

body {
  font-family: Oswald;
   background-color: #f7f7f7;
}

body._lock {
  overflow: hidden;
}

.container {
  text-align: center;
  max-width: 1140px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* .paralax {
	background-image: url(../img/ban.jpg);
	height: 100%;
	background-attachment: fixed;
  background-position: center;
	background-repeat: no-repeat;
} */

.about {
  margin-top: 215px;
  
}

.title_line {
  padding: 2px 0 30px 0;
}

.title_white_line {
  padding: 20px 0 30px 0;
}

.gallery .title_white_line {
  padding: 20px 0 88px 0;
}

.about_btn {
  font-family: Amiri;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
  padding: 40px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  margin: 45px 0 190px 10px;
  width: 472px;
  height: 127px;
}
.about_btn:before {
  content: "";
  background: url("../img/btn1.jpg") center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 60px;
  font-weight: bold;
  transition: all 0.3s;
	transform: scale(1);
  margin-bottom: 30px;
  -webkit-animation: titlecomming 3s ease;
	-o-animation: titlecomming 3s ease;
	animation: titlecomming 3s ease;
}

.title:hover{
	transform: scale(1.2)
}

.title_white {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  color:#fff;
  transition: all 0.3s;
	transform: scale(1);
  -webkit-animation: titlecomming 3s ease;
	-o-animation: titlecomming 3s ease;
	animation: titlecomming 3s ease;
}

.title_white:hover{
	transform: scale(0.9)
}

.text {
  font-family: "Amiri", serif;
  display: block;
  max-width: 100%;
  margin: 40px auto;
  line-height: 32px;
  word-spacing: 0px;
}

.text p {
  margin-top: 2em;
  font-size: 18px;
}

.process__video h1 {
  padding-top: 290px;
}

.process__video {
    padding-top: -250px;
    background-image: url(../img/bgvid1.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .video__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50px 0 0px 20px;
    padding-bottom: 320px;
  }

  .grid__item {
    width: 725px;
    height: 421px;
    margin: auto;
    background-size: cover;
    text-align: center;
  }
  .grid__item iframe {
    width: 100%;
    height: auto;
  }

  .video__wrapper {
    position: relative;
    padding-bottom: 57.4%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.video__wrapper .video__prev,
.video__wrapper iframe,
.video__wrapper video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .video__prev {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

 .video__play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5.6em;
    height: 5.6em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0.9;
  }
 .video__play:before {
    content: "";
    border: 12px solid transparent;
    border-left: 20px solid black;
    margin-right: -20px;
  }

.say {
  padding-top: 154px;
  font-family: "Amiri";
}
.autograph__text {
  font-family: "Amiri";
  padding: 70px 0 50px 0;
  font-size: 48px;
  line-height: 75px;
}

.autograph {
  padding-bottom: 20px;
}

.initials {
  font-size: 18px;
}

.gallery {
  padding-top: 250px;
  background-image: url(../img/bggallery.jpg);
}


.slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 75px 26px 75px;
  -ms-grid-columns: 75px 20px 75px 20px 75px 20px 75px 20px 75px 20px 75px 20px 75px;
      grid-template: repeat(2, 75px)/repeat(7, 75px);
  grid-gap: 26px 20px;
  justify-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 98px;
}

.grid__items_1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 1/1/10/span 5;
  height: 795px;
  cursor: pointer;
}

.grid__items_2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-area: 1/6/span 4/span 7;
  height: 373px;
  cursor: pointer;
}

.grid__items_3 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 8;
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-area: 5/6/span 8/span 7;
  height: 678px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  cursor: pointer;
}

.grid__items_4 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 10/1/span 3/span 5;
  height: 254px;
  cursor: pointer;
}

.grid__items_5 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 13/1/span 4/span 7;
  height: 362px;
  cursor: pointer;
}

.grid__items_6 {
  -ms-grid-row: 13;
  -ms-grid-row-span: 4;
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-area: 13/8/span 4/span 5;
  height: 362px;
  cursor: pointer;
}

.gallery_btn {
  font-family: Amiri;
  border: 0;
  background-color: transparent;
  font-size: 25px;
  padding: 40px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  margin: 45px 0 190px 10px;
  width: 472px;
  height: 127px;
}
.gallery_btn:before {
  content: "";
  background: url("../img/butt2.png") center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
 
/* .but_2 {
  margin: 0 auto;
  z-index: 10;
   padding: 30px 0 10px 0; 
   background-color: #000; 
 } 

 .but2 {
  margin: 100px auto;
  padding: 70px 0 350px 0;
  cursor: pointer;
  display: block;
  width: 472px;
  height: 107px;
  z-index: 1;
  background-color: Transparent;
  border: none;
} */

.reviews {
  padding-top: 150px;
}
.sponsors {
  background-image: url(../img/bgspons.jpg)
}
.sponsors h1 {
  padding-top: 250px;
}

.sponsors img {
  padding-bottom: 60px;
}

.sponsors a {
  color:#fff;
  text-decoration: none;
}

.sponsors__line1, .sponsors__line2 {
  font-family: Montserrat;
  font-style: 400;
  display: flex;
  text-align: center;
  justify-content: space-around;
  line-height: 150px;
}

.sponsors__line2 {
  padding-bottom: 200px;
}

@media (max-width: 767px) {
  .sponsors {
  background-image: url(../img/bgspons.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}

.sponsors h1 {
  padding-top: 150px;
}

.sponsors img {
    padding-bottom: 10px;
}

.sponsors__line1, .sponsors__line2 {
  display: inline;
  line-height: 2px;
  text-align: center;
}

.line2 .webt {
  padding-bottom: 100px;
}

.sponsors a {
  font-weight: 300;
  font-size: 18px;
}

.sponsors li {
   list-style-image: none;
}

.last_spons {
  padding-bottom: 50px;
}
}

.footer h1 {
  padding-top: 150px;
}

.footer img {
  padding-bottom: 60px;
}

.phone a {
  font-size: 48px;
  color:black;
  text-decoration: none;
}

.btn_footer {
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  padding: 30px 0 70px 30px;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  font-family: Amiri;
  font-weight: 700;
  width: 316px;
  height: 85px;
  margin:-5px 0 70px -11px;
}

.btn_footer:before {
  content: "";
  background: url("../img/map.jpg") center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
  left: 10%;
  top: 0;
  width: 90%;
  height: 100%;
}

.btn {
  transition: all 0.3s;
	transform: scale(1);
}

.btn:hover{
	transform: scale(1.1)
}

.btn:active{
	transform: scale(1.2)
}


/* Анимация */

@keyframes titlecomming {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

@keyframes logocomming {
		from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

@keyframes topshift {
	0% {
		opacity: 0;
		margin-top: -80px;
	}
	
	50% {
		margin-top: 15px
	}
	
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}


/* Адаптивчик */

@media (max-width: 600px) {

  .container {
    width: 100%;
    padding: 0 15px;
  }

  .about {
    margin-top: 80px;
}

.title {
    font-size: 50px;
}

.text {
  margin: 0 auto;
}

.text p {
    margin-top: 1em;
    font-size: 22px;
}

.about_btn {
    margin: 16px 0 58px 10px;
    width: 354px;
    height: 127px;
}

.process__video h1 {
    padding-top: 90px;
}

.process__video {
  background-size: cover;
}

.video__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 31px 0 0 0;
    padding-bottom: 17px;
}

.grid__item {
  width: 509px;
  height: 347px;
}

.text {
  line-height: 38px;
  word-spacing: 1px;
}

.say__img {
  width: 383px;
  height: 219px
}

.say {
  padding-top: 51px;
}

.autograph__text {
  padding: 32px 0 10px 0;
  font-size: 44px;
  line-height: 70px;
}

.autograph {
  width: 127px;
  height: 88px
}

.gallery .title_white_line {
  padding: 20px 0 30px 0;
}

.gallery {
  padding-top: 70px;
  background-image: url(../img/bggallery.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  }

.grid__items {
  grid-area: unset;
}

.grid__items_2 {
  height: 220px;
  cursor: pointer;
}

.grid__items_4 {
  height: 220px;
  cursor: pointer;
}

.grid__items_5 {
  height: 220px;
  cursor: pointer;
}

.grid__items_6 {
  height: 220px;
  cursor: pointer;
}

  .slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__item {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}
.slider__item.current {
  opacity: 1;
  position: relative;
  z-index: 1;
}

.slider__img img {
  display: block;
  width: 379px;
  height: 230px;
}

.grid__items_3, .grid__items_1 {
  display: none;
}

.slider__arrow {
  width: 27px;
  height: 27px;
  background-color: #ccc;
  border-radius: 50%;
  top: 30%;
  z-index: 2;
  position: absolute;
  margin-top: 0px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__arrow:after {
  content: "";
  margin-left: -3px;
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.slider__prev {
  left: -12px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slider__next {
  right: -11px;
}

.gallery_btn {
  margin: -100px 0 48px -78px;
  width: 472px;
  height: 127px;
}

.gallery_btn:before {
  margin: -8px 0 48px 88px;
  width: 354px;
  height: 127px;
}

.reviews {
  padding-top: 44px;
}



.footer h1 {
    padding-top: 20px;
}

.phone a {
    font-size: 38px;
}

.btn_footer {
    padding: 31px 0 70px 30px;
    margin: 31px 0 70px -11px;
}

}


@media (max-width: 400px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .menu {
    display: none;
  }
  .about {
    margin-top: 80px;
}

.title {
    font-size: 50px;
}

.text {
  margin: 0 auto;
}

.text p {
    margin-top: 1em;
    font-size: 22px;
}

.about_btn {
    margin: 16px 0 58px 10px;
    width: 354px;
    height: 127px;
}

.process__video h1 {
    padding-top: 2em;
}

.process__video {
  background-size: cover;
}

.video__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 91px 0 0 0;
    padding-bottom: 8px;
}

.grid__item {
  width: 509px;
  height: 382px;
  margin: auto;
  background-size: cover;
  text-align: center;
}

.text {
  line-height: 38px;
  word-spacing: 1px;
}

.say__img {
    width: 328px;
    height: 204px;
}

.say {
  padding-top: 51px;
}

.autograph__text {
  padding: 32px 0 10px 0;
  font-size: 44px;
  line-height: 70px;
}

.gallery {
  padding-top: 70px;
  background-image: url(../img/bggallery.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  }

  .grid__items_3, .grid__items_1 {
  display: none;
}

.grid__items_2 {
  height: 167px;
  cursor: pointer;
}

.grid__items_4 {
  height: 167px;
  cursor: pointer;
}

.grid__items_5 {
  height: 167px;
  cursor: pointer;
}

.grid__items_6 {
  height: 167px;
  cursor: pointer;
}

 .slider {
   display: flex;
    justify-items: start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

  .slider {
  margin: 50px 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__item {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}
.slider__item.current {
  opacity: 1;
  position: relative;
  z-index: 1;
}

.slider__img img {
  display: block;
  width: 284px;
  height: 240px;
}

.slider__name {
  font-weight: 600;
  padding: 1px;
}
.slider__arrow {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  z-index: 2;
  position: absolute;
  margin-top: 0px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__arrow:after {
  content: "";
  margin-left: -7px;
  display: block;
  width: 15px;
  height: 15px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.slider__prev {
  left: -57px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slider__next {
  right: -57px;
}
.slider__dots {
  padding: 0;
  margin: 15px 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery_btn {
  margin: -50px 0 48px -105px;
  width: 472px;
  height: 127px;
}

.gallery_btn:before {
  margin: 9px 0 0px 119px;
  width: 314px;
  height: 127px;
}


.reviews {
  padding-top: 44px;
}

.sponsors {
  background-image: url(../img/bgspons.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}

.sponsors h1 {
  padding-top: 130px;
}

.sponsors img {
    padding-bottom: 30px;
}

.sponsors__line1, .sponsors__line2 {
  display: inline;
  line-height: 2px;
  text-align: center;
}

.line2 .webt {
  padding-bottom: 100px;
}

.sponsors a {
  font-weight: 300;
  font-size: 18px;
}

.sponsors li {
   list-style-image: none;
   padding: 20px;
}

.footer h1 {
    padding-top: 20px;
}

.phone a {
    font-size: 38px;
}

.btn_footer {
    padding: 31px 0 70px 30px;
    margin: 31px 0 70px -11px;
}


}