<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Security
        link(rel="stylesheet" href="css/reset.css")
        link(rel="stylesheet" href="css/style.css")

    body
        header.header
            .header__content
                a.logo(href="/") Company
                .menu
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href="") Products
                        li.menu__item
                            a.menu__link(href="") Prices
                        li.menu__item
                            a.menu__link(href="#jobs") Security
                        li.menu__item
                            a.menu__link(href="#jobs") Resources
                    .menuSecond
                        li.menuSecond__item
                            a.btn.btn_login(href="") Log In
      
                        li.menuSecond__item
                            select.lang
                                option(value='') Text
                                option(value='') Text
                                option(value='') Text
                                option(value='') Text
                                option(value='') English
                                option(value='') Text
                                option(value='') Text
                                option(value='') Text
                        li.menuSecond__item    
                            .search-box
                                input.search-txt(type="text", placeholder="")
                                a.search-btn(href="#", target="_blank")
        .firstScreen
            picture.firstScreen__bg
                source(srcset="img/fonJ.png" media="(max-width: 1140px)")
                img(src="img/fonJ.png", alt="")
            .container_center
                .firstScreen__top
                    h1.firstScreen__title One app, all <br> things money
                    .firstScreen__text
                        p Open a free account in minutes right from your <br> phone, and make your money go further
        
                .firstScreen__bottom
                    .firstScreen__actions
                        a.btn.btn_secondary(href="page2.html") Get started 
                            .arrow
                                
                
                
    
