@font-face {
	font-family: 'IBMPlexSans';
	src: url('../fonts/IBMPlexSans-Regular.eot');
	src: local('IBMPlexSans Regular'), local('IBMPlexSans-Regular'),
		url('../fonts/IBMPlexSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/IBMPlexSans-Regular.woff') format('woff'),
		url('../fonts/IBMPlexSans-Regular.woff2') format('woff2'),
		url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('../fonts/IBMPlexSans-Medium.eot');
	src: local('IBMPlexSans Medium'), local('IBMPlexSans-Medium'),
		url('../fonts/IBMPlexSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/IBMPlexSans-Medium.woff') format('woff'),
		url('../fonts/IBMPlexSans-Medium.woff2') format('woff2'),
		url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('../fonts/IBMPlexSans-SemiBold.eot');
	src: local('IBMPlexSans SemiBold'), local('IBMPlexSans-SemiBold'),
		url('../fonts/IBMPlexSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/IBMPlexSans-SemiBold.woff') format('woff'),
		url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2'),
		url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPlexSans';
	src: url('../fonts/IBMPlexSans-Bold.eot');
	src: local('IBMPlexSans Bold'), local('IBMPlexSans-Bold'),
		url('../fonts/IBMPlexSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/IBMPlexSans-Bold.woff') format('woff'),
		url('../fonts/IBMPlexSans-Bold.woff2') format('woff2'),
		url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Serif';
	src: url('../fonts/noto-serif-v11-latin-700italic.eot');
	src: local('noto-serif-v11-latin-700italic'), local('noto-serif-v11-latin-700italic'),
		url('../fonts/noto-serif-v11-latin-700italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/noto-serif-v11-latin-700italic.woff') format('woff'),
		url('../fonts/noto-serif-v11-latin-700italic.woff2') format('woff2'),
		url('../fonts/noto-serif-v11-latin-700italic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Serif';
	src: url('../fonts/noto-serif-v11-latin-italic.eot');
	src: local('noto-serif-v11-latin-italic'), local('noto-serif-v11-latin-italic'),
		url('../fonts/noto-serif-v11-latin-italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/noto-serif-v11-latin-italic.woff') format('woff'),
		url('../fonts/noto-serif-v11-latin-italic.woff2') format('woff2'),
		url('../fonts/noto-serif-v11-latin-italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

body {
	font: 16px/1.75 'IBMPlexSans', Arial, sans-serif;
	color: #212841;
	font-weight: 400;
}

p {
	margin: 0 0 8px;
}

img {
	max-width: 100%;
	display: block;
}

ul {
	padding-left: 22px;
}

.hidden {
	display: none !important;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	text-decoration: underline;
}

a.underline,
.footer-left .footer-menu li a {
	text-decoration: none !important;
	transition: .3s;
	position: relative;
}

a.underline:before,
.footer-left .footer-menu li a:before {
	content: '';
	display: block;
	height: 0;
	width: 0;
	transition: .3s;
	border-bottom: 1px solid;
	position: absolute;
	top: 100%;
	left: 0;
}

a.underline.active:before,
a.underline:hover:before,
.footer-left .footer-menu li a:hover:before,
.footer-left .footer-menu li.active a:before {
	width: 100%;
}

.opacity-60 {
	opacity: .6;
}

.opacity-40 {
	opacity: .4;
}

.inherit,
.inherit:hover {
	color: inherit;
}

/*
РєРЅРѕРїРєРё
*/
.btn {
	font-size: 16px;
	line-height: 26px;
	border-radius: 3px;
	transition: .3s;
	cursor: pointer;
	font-weight: 600;
	text-align: center;
	min-width: 170px;
	outline: none !important;
	text-decoration: none !important;
	box-shadow: none !important;
}

.btn:before {
	display: none;
}

.btn:hover {
	color: #fff;
}

.btn[disabled],
.btn.disabled {
	color: #fff !important;
	background: #E2E2E2 !important;
	cursor: no-drop !important;
	pointer-events: none;
}

.btn-blue {
	color: #fff;
	background: #3C53A6;
	min-height: 50px;
	padding: 11px 10px;
}

.btn-blue:hover {
	background: #4A6BE4;
}

.btn-blue:active,
.btn-blue:focus {
	background: #0025A8;
}

.btn-red {
	color: #fff;
	background: #DD4B39;
	min-height: 60px;
	padding: 15px 10px;
}

.btn-red:hover {
	background: #FF6552;
}

.btn-red:active,
.btn-red:focus {
	background: #E01900;
}

.btn-tr {
	color: #3C53A6;
	background: transparent;
	min-height: 40px;
	padding: 6px 15px;
	border: 1px solid #3C53A6;
}

.btn-tr:hover {
	color: #fff;
	background: #3C53A6;

}

/*
С„РѕСЂРјР°
*/
.field {
	position: relative;
	display: inline-block;
}

input[type="email"],
input[type="text"] {
	background: #F5F9FD;
	border-radius: 3px;
	width: 250px;
	height: 60px;
	padding: 16px 20px;
	font-weight: 400;
	font-size: 16px;
	color: #212841;
	border: 1px solid #F5F9FD;
	outline: none;
}

input[type="email"].error,
input[type="text"].error {
	border-color: #DD4B39;
}

.error-text {
	padding: 15px 12px;
	background: #fff;
	box-shadow: 0 5px 30px rgba(33, 40, 65, 0.15);
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: #DD4B39;
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	margin-bottom: 8px;
	transition: .3s;
}

.error-text:before {
	top: 100%;
	border-width: .5rem .5rem 0;
	border-color: transparent;
	border-top-color: #fff;
	position: absolute;
	content: "";
	border-style: solid;
}

.error-text.hide {
	opacity: 0;
	z-index: -100;
	height: 0;
}


/* Header */
header .top {
	width: 100%;
}

.image-bg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.image-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: -1;
}

header .image-bg:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: linear-gradient(90deg, #0E2A47 0%, rgba(14, 42, 71, 0) 100%);
}

header {
	position: relative;
	padding-bottom: 80px;
	padding-top: 48px;
	min-height: 400px;
}

header .top .flex>div:last-child {
	margin-right: 0;
}

header .top .flex>div {
	margin-right: 15px;
}

.logo {
	width: 240px;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul.main-menu>li {
	margin-right: 21px;
}

ul.main-menu>li:last-child {
	margin-right: 0;
}

ul.main-menu>li.active a:before {
	width: 100%;
}

ul.main-menu>li a:before {}

ul.main-menu>li a {
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.contacts .phone {
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.contacts a {
	margin-right: 16px;
}

.contacts a:last-child {
	margin-right: 0;
}

header .title-block h1 {
	font-weight: 600;
	font-size: 48px;
	line-height: 60px;
	color: #FFFFFF;
}

header .title-block {
	max-width: 635px;
	margin-top: 35px;
	margin-bottom: 40px;
}

header .title-block .title-desc {
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	color: #FFFFFF;
	margin-bottom: 0;
}

header .form-block fieldset .field:last-child {
	margin-right: 0;
}

header .form-block fieldset .field {
	margin-right: 20px;
}

header .form-block fieldset {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

header .form-block fieldset .btn {
	width: 250px;
}

.text-form {
	font-size: 14px;
	line-height: 28px;
	color: #FFFFFF;
	margin-top: 20px;
}

.text-form a:before {
	display: none;
}

.text-form a {
	text-decoration: underline !important;
}

ul.breadcrumbs {
	list-style: none;
	margin: 30px 0 0;
	padding: 0;
	min-height: 22px;
	display: block;
}

ul.breadcrumbs:after {
	display: block;
	content: '';
	clear: both;
}

ul.breadcrumbs li {
	display: inline;
}

ul.breadcrumbs li:after {
	content: '/';
	padding: 0 5px;
	display: inline-block;
}

ul.breadcrumbs li:last-child:after {
	display: none;
}

ul.breadcrumbs li,
ul.breadcrumbs li a {
	font-size: 14px;
	line-height: 22px;
	color: #A1ACB7;
	text-decoration: none;
}

ul.breadcrumbs li:last-child:after {
	display: none;
}


/*
main
*/
main>section {
	margin-bottom: 100px;
}



section .title {
	font-weight: 600;
	font-size: 30px;
	line-height: 35px;
	margin: 0 0 40px;
}


/*
section services
*/

ul.nav.nav-tabs,
ul.nav.nav-tabs>li,
ul.nav.nav-tabs>li>a {
	border: 0;
}

.nav-tabs .nav-item:last-child {
	margin-right: 0;
}

.nav-tabs .nav-item {
	margin-right: 25px;
}

.nav-tabs .nav-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	background: transparent !important;
	padding: 0;
	text-decoration: none;
	color: inherit;
	transition: .3s;
}

.nav-tabs .nav-link.active {
	font-weight: 600;
	color: #3C53A6;
}

.tab-content {
	margin-top: 30px;
}

#services .tab-content>.tab-pane .flex>.item {
	width: 20%;
	flex-basis: 20%;
}

#services .tab-content>.tab-pane .flex {
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: self-start;
	border: 1px solid rgb(205 227 247 / 20%);
}

#services .tab-content>.tab-pane .flex>.item {
	width: 20%;
	flex-basis: 20%;
	align-self: stretch;
	padding: 21px 15px;
	border: 1px solid rgb(205 227 247 / 20%);
	transition: .3s;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.readmore .btn {
	width: 100%;
}

#services .item .top h3.title {
	font-size: 16px;
	font-weight: 500;
	line-height: 23px;
	margin: 10px 0;
}

#services .item .top .desc {
	font-size: 14px;
	line-height: 22px;
}

#services .item>div {
	margin-bottom: 25px;
}

#services .item>div:last-child {
	margin-bottom: 0;
}

#services .item .price-block {
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #364168;
	margin: 0 0 15px;
}

#services .item .top h3.title>a {
	color: inherit;
	text-decoration: none;
}

#services .item:hover .top h3.title>a {
	text-decoration: underline;
}

#services .item .top .image {
	border-radius: 3px;
	background: #212841;
}

#services .item .top .image img {
	/*filter:*/
	/*        sepia(100%)*/
	/*        hue-rotate(190deg)*/
	/*        saturate(50%);*/
	width: 100%;
	mix-blend-mode: luminosity;
	transition: .3s;
}

#services .item:hover .readmore .btn-tr {
	color: #fff;
	background: #3C53A6;
}

#services .item:hover {
	box-shadow: 0px 5px 30.309px rgba(33, 40, 65, 0.15);
}

#services .item:hover .top .image img {
	/*filter: none;*/
	mix-blend-mode: normal;
}

/*
section banner
*/

.bg-container {
	background: radial-gradient(50% 996.86% at 50% 100%, #35426D 0%, #212841 100%);
}

#banner .text-block .title,
#banner2 .text-block .title {
	font-weight: 600;
	font-size: 30px;
	line-height: 42px;
	color: #FFFFFF;
	margin-bottom: 25px;
}

#banner .text-block {
	padding: 120px 0 60px;
}

#banner2 .text-block {
	padding: 88px 0 20px;
}

#banner2 .image-block {
	align-self: flex-end;
}

#banner form .input,
#banner2 form .input {
	width: 300px;
}

#banner form fieldset>*:last-child,
#banner2 form fieldset>*:last-child {
	margin-right: 0;
}

#banner form fieldset>*,
#banner2 form fieldset>* {
	margin-right: 20px;
}

#banner form fieldset,
#banner2 form fieldset {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#banner form .text-form {
	margin-top: 60px;
}

#banner2 form .text-form {
	margin-top: 40px;
}

#banner .flex {
	width: 100%;
}

#work .item>div {
	border: 2px solid #F0F5FA;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 22px 30px;
	height: 100%;
}

#work .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#work .top .num {
	font-weight: 500;
	font-size: 86px;
	line-height: 113px;
	box-sizing: border-box;
	color: #fff;
	text-shadow: 0px 0px 5px rgb(33 40 74 / 25%);
}

#work .bottom .title {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #364168;
	margin: 10px 0;
}

#work .bottom .desc {
	font-size: 16px;
	line-height: 24px;
	color: #212841;
}

#information .doc {
	width: 530px;
	flex-basis: 530px;
	flex-grow: 0;
}

#information .map {
	width: 670px;
	flex-basis: 670px;
	flex-grow: 0;
}

#information .doc .title,
#information .map .title {
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 30px;
}

div#accordion .card-header {
	height: 70px;
	border-bottom: 0;
	padding: 0;
	border-radius: 3px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: transparent;
}

div#accordion .card-header .btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	color: inherit;
	padding: 5px 0 5px 30px;
}

#accordion .card {
	border: 0;
	margin-left: 15px;
	border-bottom: 1px solid rgb(60 83 166 / 10%);
	border-radius: 0;
	transition: .3s;
}

div#accordion .card-header .btn .icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid transparent;
	background: #F5F9FD;
	border-radius: 50%;
	transition: .3s;
	position: absolute;
	left: -15px;
	top: 35px;
	margin-top: -15px;
}

div#accordion .card-header .btn .icon:after {
	content: '';
	position: absolute;
	width: 2px;
	height: 16px;
	background: black;
	top: 50%;
	margin-top: -8px;
	left: 50%;
	margin-left: -1px;
	transition: .3s;
}

div#accordion .card-header .btn .icon:before {
	content: '';
	position: absolute;
	width: 16px;
	height: 2px;
	background: black;
	top: 50%;
	margin-top: -1px;
	left: 50%;
	margin-left: -8px;
}

div#accordion .card-header .btn:not(.collapsed) .icon:after {
	transform: rotate(90deg);
}

div#accordion .card-header .btn:not(.collapsed) .icon {
	background: #fff;
	border-color: #3C53A6;
}

#accordion .card.open {
	background: #FFFFFF;
	box-shadow: 0px 5px 30.309px rgb(33 40 65 / 15%);
	z-index: 1;
}

#accordion .card-body {
	font-size: 14px;
	line-height: 24px;
	padding: 0 30px 20px;
}

#accordion .card-body ul {
	margin-bottom: 0;
	list-style-position: inside;
}

#accordion .card:last-child {
	border-bottom: 0;
}

#information .map .p-left {
	padding-left: 40px;
}

#comments .all-comments {
	display: inline-block;
	position: relative;
	top: -65px;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	color: #3C53A6;
	text-decoration: none;
}

#comments .item {
	border: 2px solid #F5F9FD;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 40px 30px 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#comments .item .image {
	position: absolute;
	right: 20px;
	top: -40px;
	width: 80px;
	height: 80px;
}

#comments .item .image img {
	max-width: 80px;
	max-height: 80px;
	object-fit: cover;
	object-position: center;
}

#comments .item .name {
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	color: #364168;
}

#comments .item .date {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	opacity: 0.4;
	margin: 5px 0;
}

#comments .item .desc {
	font-size: 14px;
	line-height: 24px;
	margin-top: 10px;
	flex-grow: 1;
}

#comments .item .readmore {
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	color: #3C53A6;
	text-decoration: none;
	margin-top: 15px;
	align-self: flex-start;
}

/*
footer
*/
footer {
	background: #212841;
}

.bg-blue {
	background: rgb(60 83 166 / 20%);
}

.logo-footer img {
	max-width: 250px;
}

.footer-right {
	padding: 35px 70px;
}

footer .footer-right .title {
	font-weight: 600;
	font-size: 30px;
	line-height: 40px;
	color: #FFFFFF;
	text-align: center;
}

.footer-right form select {
	width: 100%;
	height: 60px;
	border-radius: 3px;
	font-size: 16px;
	line-height: 28px;
	color: rgb(255 255 255 / 50%);
	padding: 16px 35px 16px 20px;
	background: rgb(60 69 102);
	border: 0;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('../images/select.svg');
	background-repeat: no-repeat, repeat;
	background-position: right 15px top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.select2 .select2-selection .select2-selection__rendered {
	height: 100%;
	padding: 0 40px 0 20px;
	color: #fff;
	display: flex;
	align-items: center;
}

.select2-container {
	max-width: 100%;
	width: 100% !important;
}

.select2 .select2-selection {
	width: 100%;
	height: 60px;
	border-radius: 3px;
	font-size: 16px;
	line-height: 28px;
	color: rgb(255 255 255 / 50%);
	background: rgb(60 69 102);
	border: 0;
	outline: none;
}

.select2 .select2-selection .select2-selection__arrow b {
	display: none;
}

.select2 .select2-selection .select2-selection__arrow {
	background-image: url(../images/select.svg);
	background-repeat: no-repeat, repeat;
	background-position: right 15px top 50%, 0 0;
	background-size: 14px auto, 100%;
	height: 100%;
	width: 40px;
	transition: .3s;
}

.select2 .select2-selection[aria-expanded="true"] .select2-selection__arrow {
	transform: rotate(-180deg);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background: #fff;
	color: initial;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable.select2-results__option--selected,
.select2-container--default .select2-results__option--selected {
	background: rgb(205 227 247 / 20%);
}

.select2-results__options .select2-results__option:not(.select2-results__option--disabled, .select2-results__option--group):hover {
	text-decoration: underline;
}

.footer-right form .field {
	margin-bottom: 20px;
	width: 100%;
}

.footer-right form .row {
	margin: 0 -10px;
}

.footer-right form [class^="col"] {
	padding: 0 10px;
}

.footer-right form .field input {
	width: 100%;
	color: #fff;
	background: rgb(60 69 102);
	border: 0;
}

.footer-right form .field input::placeholder {
	color: rgb(255 255 255 / 50%);
}

.footer-right form .text-form a {
	color: inherit;
}

.footer-right form .text-form {
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
	margin: 18px 0;
}

.footer-right form [type="submit"] {
	width: 250px;
}

.footer-left {
	padding: 45px 0 35px;
}

.footer-left .logo-block {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.footer-left .logo-block .logo-desc {
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.6;
}

.footer-left .logo-block>* {
	margin-right: 20px;
}

.footer-left .logo-block>*:last-child {
	margin-right: 0;
}

.footer-left .middle {
	margin-top: 43px;
}

.footer-left .contacts,
.footer-left .contacts a {
	color: #fff;
}

.footer-left .contacts .title {
	font-weight: 500;
	font-size: 12px;
	line-height: 28px;
	text-transform: uppercase;
	opacity: 0.6;
}

.footer-left .contacts .phone-link {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	text-decoration: none;
}

.footer-left .contacts .space {
	margin-top: 25px;
}

.footer-left .contacts .email-link {
	font-size: 20px;
	line-height: 28px;
	text-decoration-line: underline;
}

.footer-left .footer-menu li:last-child {
	margin-bottom: 0;
}

.footer-left .footer-menu li {
	margin-bottom: 20px;
}

.footer-left .footer-menu li a {
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	color: #FFFFFF;
}

footer .copy {
	font-size: 14px;
	line-height: 28px;
	color: #FFFFFF;
	opacity: 0.3;
	margin-top: 30px;
}

/*
Modal
*/
.modal-backdrop.show {
	background: #212841;
	opacity: 0.97;
}

.modal-content {
	background: transparent;
	border: 0;
}

.modal-header {
	border-radius: 0;
	border: 0;
	padding: 80px 15px 10px;
	position: relative;
	justify-content: center;
}

.modal-header .modal-title {
	font-weight: 600;
	font-size: 30px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
}

#feedbackModal .modal-dialog {
	width: 400px;
}

.modal-body {
	padding: 0 15px 20px;
}

.modal-header .close {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	transition: .3s;
	opacity: 1 !important;
	background-image: url("../images/close-modal.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/*.modal-header .close:before {*/
/*    content: '';*/
/*    display: block;*/
/*    height: 1px;*/
/*    width: 100%;*/
/*    background: rgb(255 255 255 / 40%);*/
/*    transform: rotate(*/
/*            -45deg*/
/*    );*/
/*    transition: .3s;*/
/*}*/
/*.modal-header .close:after {*/
/*    content: '';*/
/*    display: block;*/
/*    height: 1px;*/
/*    width: 100%;*/
/*    background: rgb(255 255 255 / 40%);*/
/*    transform: rotate(*/
/*            45deg*/
/*    );*/
/*    transition: .3s;    */
/*    margin-top: -1px;*/
/*}*/
.modal-header .close:hover {
	transform: rotate(90deg);
}

.modal-body .text {
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 15px;
}

.modal-body fieldset .field input,
.modal-body fieldset .field button {
	width: 100%;
}

.modal-body fieldset .field {
	display: block;
	width: 100%;
	margin-top: 25px;
}

.modal .text-form {
	text-align: center;
}

/*
service
*/
#component .top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}

#component .top>div:last-child {
	margin-right: 0;
}

#component .top>div {
	margin-bottom: 25px;
	margin-right: 25px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 2px solid #F0F5FA;
	box-sizing: border-box;
	border-radius: 3px;
	padding: 30px;
	width: calc((100% - 50px) / 3);
}

.icon:before {
	content: '';
	width: 40px;
	height: 40px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
}

.icon-time:before {
	background-image: url("../images/time.svg");
}

.icon-calc:before {
	background-image: url("../images/rub.svg");
}

.icon-calendar:before {
	background-image: url("../images/calendar.svg");
}

#component .top .text {
	font-size: 14px;
	line-height: 20px;
	padding-left: 20px;
}

#component .top .text strong {
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	display: block;
}

#component .description {
	font-size: 18px;
	line-height: 28px;
}

.remark {
	font-size: 14px;
}

#component .extra-fields {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}

#component .extra-fields [class*="fon"] {
	padding: 35px 30px;
	max-width: 50%;
}

.extra-fields .fon-blue {
	background: #3C53A6;
	border-radius: 3px 0px 0px 3px;
	color: #fff;
}

.extra-fields .fon-border {
	border: 2px solid #F0F5FA;
	box-sizing: border-box;
	border-radius: 3px;
}

#component .extra-fields .name {
	font-weight: 600;
	font-size: 17px;
	line-height: 28px;
	margin-bottom: 20px;
}

#component .extra-fields .value {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 0;
}

.checkoutWrapper .bg-container {
	background: rgb(205 227 247 / 20%);
	padding: 55px 0 40px;
}

#component .sidebar {
	max-width: 300px;
	margin: 0 0 0 auto;
}

#component .sidebar .order {
	background: #FFFFFF;
	box-shadow: 0px 5px 30px rgb(33 40 65 / 15%);
	border-radius: 3px;
	padding: 30px 30px 20px;
}

#component .sidebar .order .title {
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 10px;
}

#component .sidebar .order .short-desc {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 44px;
}

#component .sidebar .order .price {
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 20px;
}

strong {
	font-weight: 600;
}

#component .sidebar .order .btn {
	min-height: 40px;
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	width: 100%;
	padding: 5px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar .request {
	background: #F5F9FD;
	border-radius: 3px;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.sidebar .request .image {
	flex-basis: 40%;
	width: 40%;
}

#component .sidebar .request .desc {
	flex-basis: 60%;
	width: 60%;
	font-size: 14px;
	line-height: 20px;
	padding-left: 15px;
}

.sidebar .request .phone {
	flex-basis: 100%;
	width: 100%;
	text-align: center;
}

.sidebar .request>div:last-child {
	margin-bottom: 0;
}

.sidebar .request>div {
	margin-bottom: 15px;
}

.sidebar .request .phone a {
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	color: inherit;
	white-space: nowrap;
}

.checkoutWrapper .flex .form fieldset .field .input {
	background: #fff;
}

.checkoutWrapper .flex .form fieldset .field:last-child {
	margin-right: 0;
}

.checkoutWrapper .flex .form fieldset .field {
	margin-right: 25px;
}

.checkoutWrapper .flex .form fieldset {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.checkoutWrapper .flex .text {
	font-weight: 600;
	font-size: 30px;
	line-height: 42px;
	margin-right: 15px;
	flex-basis: 320px;
}

.checkoutWrapper .flex .form fieldset .btn {
	width: 250px;
}

.checkoutWrapper .text-form {
	color: initial;
}

.checkoutWrapper .flex .text .title {
	font-weight: 600;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 0;
}

#map .title {
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 30px;
}

#component {
	margin-top: 80px;
	margin-bottom: 80px;
}

.checkoutWrapper {
	margin-bottom: 80px;
}

.mt-50 {
	margin-top: -50px;
}

.hideMobile {}

.hideDesktop {
	display: none;
}

.showDesktop {
	display: block;
}

.showMobile {}

@media (max-width: 768px) {
	.hideMobile {
		display: none;
	}

	.hideDesktop {}

	.showDesktop {}

	.showMobile {
		display: block;
	}
}

/*
    Contacts
    */

#contacts .container .flex {
	margin-top: -138px;
	background: #fff;
	align-items: stretch;
	z-index: 5;
	position: relative;
}

#contacts .flex .left-block {
	flex-basis: 470px;
	min-width: 470px;
	padding: 58px 70px;
	background: #F5F9FD;
}

#contacts .flex .right-block {
	overflow: hidden;
	width: 100%;
}

#contacts .flex .right-block ymaps {
	max-width: 100%;
}

#contacts .flex .left-block .contacts .title {
	font-weight: 500;
	font-size: 12px;
	line-height: 28px;
	text-transform: uppercase;
	opacity: 0.6;
	margin-bottom: 0;
}

#contacts .flex .left-block .contacts a,
#contacts .flex .left-block .contacts span {
	font-size: 20px;
	line-height: 28px;
	text-decoration-line: underline;
	color: inherit;
	margin-bottom: 5px;
	display: inline-block;
}

#contacts .flex .left-block .contacts .space {
	margin-top: 20px;
}

#contacts .flex .left-block .contacts a.phone-link {
	font-weight: 700;
}

.social a:last-child {
	margin-right: 0;
}

.social a {
	text-decoration: none;
	margin-right: 15px;
	margin-bottom: 15px !important;
	display: inline-block;
}

.social {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.icon-wa:before {
	background-image: url(../images/social.png);
	background-size: auto 40px;
	background-position: 0 0;
	border-radius: 50%;
}

.icon-vb:before {
	background-image: url(../images/social.png);
	background-size: auto 40px;
	background-position: -55px 0;
	border-radius: 50%;
}

.checkoutWrapper>div:not(.bg-container) .flex .form fieldset .field .input {
	background: #F5F9FD;
}

/*
About
*/
#component .h2.title {
	font-weight: 700;
	font-size: 30px;
	line-height: 42px;
}

#component .desc {
	font-size: 18px;
	line-height: 28px;
}

.quote {}

.quote blockquote {
	font-family: 'Noto Serif', Arial, sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 0;
}

.quote .autor {
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	opacity: 0.4;
}

.quote blockquote:after,
.quote blockquote:before {
	font-family: 'Noto Serif', sans-serif;
	font-size: 50px;
	line-height: 42px;
	display: block;
}

.quote blockquote:after {
	content: 'вЂќ';
	text-align: right;
}

.quote blockquote:before {
	content: 'вЂњ';
}

.image.text-right img {
	margin: 0 0 0 auto;
}

.mb-100 {
	margin-bottom: 100px;
}

#about .text-block h3.title {
	font-weight: 700;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 30px;
}

#about .text-block .desc {
	font-size: 18px;
	line-height: 28px;
}

#about .text-block .numbers {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 30px;
}

#about .text-block .numbers .block:first-child {
	border: 0;
	padding-left: 0;
	padding-right: 64px;
}

#about .text-block .numbers .block {
	padding: 5px 40px;
	border-left: 2px solid rgb(60 83 166 / 10%);
}

#about .text-block .numbers .block .num {
	font-weight: 500;
	font-size: 64px;
	line-height: 83px;
	color: #3C53A6;
}

#about .text-block .numbers .block .text {
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	color: #364168;
}

.comments .comment:nth-child(odd) .text {
	order: 1;
}

.comments .comment:nth-child(odd) .image {
	order: 2;
}

.comments .comment {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 80px;
}

.comments .comment .image {
	flex-basis: 45%;
	min-width: 45%;
	padding: 0 55px;
}

.comment .quote blockquote:after {
	display: none;
}

.comment .quote blockquote:before {
	position: absolute;
	top: 0;
	left: 0;
}

.comment .quote blockquote {
	position: relative;
	padding-left: 40px;
}

.comment .reply {
	margin-top: 30px;
	padding-left: 40px;
	border-left: 2px solid rgb(60 83 166 / 10%);
}

.reply .quote {
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.quote .reply .autor {
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #A6A9B3;
	margin-top: 14px;
	opacity: 1;
}

.reply .autor strong {
	color: initial;
	font-weight: inherit;
}

.reply .date {
	font-size: 14px;
	line-height: 18px;
	color: #212841;
	opacity: 0.4;
	margin-top: 7px;
}

.comments .comment:nth-child(even) .image img {
	margin: 0 0 0 auto;
}


.icon-phone:before {
	background-image: url("../images/phone.svg");
}

/*
animation button menu
*/
.open-menu {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 7vw;
	height: 7vw;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
}

.open-menu>span {
	display: block;
	position: absolute;
	top: calc(3.5vw - 1px);
	left: 0;
	right: 20%;
	height: 2px;
	background: white;
	transition: background 0s 0.3s;
}

.open-menu>span:before,
.open-menu>span:after {
	position: absolute;
	display: block;
	left: 0;
	width: 125%;
	height: 2px;
	background-color: #fff;
	content: "";
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}

.open-menu>span:before {
	top: -2.25vw;
	transition-property: top, transform;
}

.open-menu>span:after {
	bottom: -2.25vw;
	transition-property: bottom, transform;
}

.open-menu.is-active>span {
	background: none;
}

.open-menu.is-active>span:before {
	top: 0;
	transform: rotate(45deg);
}

.open-menu.is-active>span:after {
	bottom: 0;
	transform: rotate(-45deg);
}

.open-menu.is-active>span:before,
.open-menu.is-active>span:after {
	transition-delay: 0s, 0.3s;
}

.owl-dots {
	text-align: center;
}

.owl-dots .owl-dot {
	width: 8px;
	height: 8px;
	background: #FFFFFF;
	border: 2px solid #3C53A6;
	border-radius: 50%;
	margin-right: 10px;
	transition: .3s;
}

.owl-dots .owl-dot.active {
	background: #3C53A6;
}

.carousel-mobile .owl-item {
	touch-action: none;
}

div#accordion .card-header .btn:hover .icon {
	border-color: #3C53A6;
}

div ymaps {
	max-width: 100%;
}

#about>.container>.row:last-child {
	margin-bottom: 0;
}

#about>.container>.row {
	margin-bottom: 108px;
}

.footer-right form .field input.error {
	border: 1px solid #DD4B39;
}

#contacts .flex .right-block>ymaps {
	height: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
	display: none;
}

/*
MEDIA
*/
@media (min-width: 1200px) {
	.p-left-xl {
		padding-left: 70px;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	header .top>.flex {
		flex-wrap: wrap;
	}

	header .top>.flex .contacts {
		width: 100%;
		justify-content: flex-end;
		margin-top: 10px;
	}

	header .top .flex>.menu-block {
		margin-right: 0;
	}

	#services .tab-content>.tab-pane .flex>.item {
		width: 25%;
		flex-basis: 25%;
	}

	#banner form .text-form {
		margin-top: 30px;
	}

	#work .item {
		margin-bottom: 30px;
	}

	#information .map,
	#information .doc {
		width: 50%;
		flex-basis: 50%;
	}

	#information .map .p-left {
		padding-left: 0;
	}

	div ymaps {
		max-height: 100%;
	}

	#banner2 .text-block {
		padding-top: 50px;
		padding-left: 30px;
	}

	.footer-right form .text-form a br {
		display: none;
	}

	#component .top>div {
		margin-bottom: 20px;
		margin-right: 20px;
		padding: 15px;
		width: calc((100% - 40px) / 3);
	}

	#component .top .text strong {
		font-size: 16px;
	}

	#component .top .text {
		padding-left: 15px;
	}

	#component .extra-fields [class*="fon"] {
		padding: 25px 25px;
	}

	.checkoutWrapper .flex .form fieldset .field .input {
		width: 100%;
	}

	.checkoutWrapper .flex .form fieldset .btn {
		width: 190px;
	}

	main>section {
		margin-bottom: 50px;
	}

	.footer-right {
		padding: 35px;
	}

	.quote blockquote br {
		display: none;
	}

	.quote blockquote {
		font-size: 28px;
		line-height: 36px;
	}

	#about .text-block .numbers .block {
		padding: 5px 30px;
	}

	#about .text-block .numbers .block:first-child {
		padding-right: 30px;
	}

	#about .text-block .numbers .block .num {
		font-size: 54px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	header .logo {
		width: 200px;
	}

	header .title-block {
		margin-top: 20px;
	}

	header .title-block h1 {
		font-size: 40px;
		line-height: 52px;
	}

	header {
		padding-bottom: 50px;
		padding-top: 35px;
	}

	header .top>.flex {
		flex-wrap: wrap;
	}

	header .top>.flex .contacts {
		width: 100%;
		justify-content: flex-end;
		margin-top: 10px;
	}

	header .top .flex>.menu-block {
		margin-right: 0;
	}

	#services .tab-content>.tab-pane .flex>.item {
		width: 33.3333%;
		flex-basis: 33.3333%;
	}

	main>section {
		margin-bottom: 50px;
	}

	#banner .text-block {
		padding: 30px 0;
	}

	#banner .text-block {
		padding: 50px 0;
		max-width: 60%;
	}

	#banner .text-block .title br,
	#banner2 .text-block br {
		display: none;
	}

	#banner2 .text-block {
		max-width: 60%;
		padding-top: 45px;
		padding-left: 15px;
	}

	#banner .text-block .title,
	#banner2 .text-block .title {
		font-size: 24px;
		line-height: 34px;
	}

	#banner form .input,
	#banner2 form .input {
		width: 208px;
	}

	#banner2 form .text-form,
	#banner form .text-form {
		margin-top: 15px;
	}

	#work .item {
		margin-bottom: 30px;
	}

	#information .map,
	#information .doc {
		width: 100%;
		flex-basis: 100%;
	}

	#information .map .p-left {
		padding-left: 0;
	}

	#information .map {
		margin-top: 20px;
	}

	div ymaps {
		max-height: 100%;
	}

	.footer-right form .text-form a br {
		display: none;
	}

	#comments .carousel-mobile>.col-md-12:last-child {
		margin-bottom: 0;
	}

	#comments .carousel-mobile>.col-md-12 {
		margin-bottom: 50px;
	}

	footer .copy {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		padding: 10px 15px 12px;
	}

	footer .col-lg-6 {
		position: static;
	}

	footer>.container {
		position: relative;
	}

	.footer-left .logo-block {
		justify-content: center;
	}

	.footer-left .contacts,
	.footer-left .footer-menu {
		text-align: center;
	}

	#component {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	#component .extra-fields {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#component .sidebar {
		max-width: 100%;
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
	}

	#component .sidebar>div {
		width: 50%;
		flex-basis: 50%;
	}

	.checkoutWrapper .container>.flex {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.checkoutWrapper .flex .text {
		margin-right: 0;
		margin-bottom: 20px;
		flex-basis: auto;
	}

	.checkoutWrapper .flex .form fieldset .field .input {
		width: auto;
	}

	.checkoutWrapper .flex .form fieldset .field {
		margin-right: 20px;
	}

	.checkoutWrapper .flex .form fieldset .btn {
		width: 200px;
	}

	.checkoutWrapper {
		margin-bottom: 50px;
	}

	#contacts .container .flex {
		flex-direction: column;
	}

	#contacts .flex>div {
		min-width: 100%;
		width: 100%;
		flex-basis: 100%;
	}

	#contacts .flex .right-block>ymaps {
		height: 400px !important;
	}

	#contacts .flex .left-block {
		flex-basis: auto;
		min-width: 100%;
		padding: 50px;
	}

	#component .image {
		margin-bottom: 20px;
	}

	#component .image img {
		margin: auto;
	}

	#about .col-md-12 {
		margin-bottom: 20px;
	}

	#about>.container>.row {
		margin-bottom: 50px;
	}

	#about .image img {
		margin: 0 auto;
	}

	#about .text-block .numbers {
		justify-content: center;
	}

	#about .text-block .numbers .block:first-child {
		padding-right: 40px;
	}

	/*comments*/
	.comments .comment:nth-child(odd) .image {
		order: initial;
	}

	#comments-1 .comments .comment>div {
		flex-basis: 100%;
		width: 100%;
		min-width: 100%;
	}

	.comments .comment {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 60px;
	}

	.comments .comment .image {
		margin-bottom: 20px;
	}

	.comments .comment .image img {
		margin: 0 auto;
		max-height: 200px;
	}

	.comment .quote blockquote:before {
		display: none;
	}

	.comment .quote blockquote {
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		padding-left: 0;
	}

	.comment .reply {
		margin-top: 20px;
		padding-left: 20px;
	}

	.comments .comment:nth-child(even) .image img {
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	.overflow-h {
		overflow: hidden;
	}

	.col,
	.row>[class*="col-"] {
		padding-left: 20px;
		padding-right: 20px;
	}

	header .top .flex {
		flex-direction: column;
		overflow-y: auto;
	}

	header .top {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgb(33 40 65 / 97%);
		z-index: 6;
		justify-content: flex-start;
		padding-top: calc(11.75vw + 40px);
		transition: .3s;
		margin-left: -125vw;
		overflow: auto;
	}

	header .top.show {
		margin-left: 0;
	}

	header .top .logo {
		display: none;
	}

	header {
		padding: 0 0 20px;
		min-height: 300px;
	}

	header .top-mobile:before {
		content: '';
		position: absolute;
		left: 0;
		right: 100%;
		top: 0;
		bottom: 0;
		background: rgb(33 40 65 / 97%);
		z-index: -1;
		transition: .3s;
		display: block;
	}

	.overflow-h header .top-mobile:before {
		right: 0;
	}

	header .top-mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 7;
		padding: 20px;
		position: relative;
	}

	header .top-mobile .logo {
		max-width: 50%;
		display: inline-block;
		width: auto;
	}

	header .top-mobile .logo img,
	header .top-mobile .logo span {
		max-width: 100%;
		max-height: 11.75vw;
		display: block;
	}

	header .top-mobile .icon-phone {
		width: 7vw;
		height: 7vw;
	}

	header .top-mobile .icon:before {
		width: 100%;
		height: 100%;
	}

	header .image-bg:before {
		background: linear-gradient(90deg, #0E2A47 0%, rgba(14, 42, 71, 0) 250%);
	}

	header .top .flex>div {
		margin-right: 0;
		border-top: 2px solid rgb(255 255 255 / 10%);
		width: 100%;
	}

	header .top .main-menu {
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		padding: 25px 0;
	}

	ul.main-menu>li a {
		font-weight: 500;
	}

	header .top .main-menu>li:last-child {
		margin-bottom: 0;
	}

	header .top .main-menu>li {
		margin: 0 0 20px;
	}

	header .top .contacts {
		display: flex;
		flex-direction: column;
		padding: 20px 0;
	}

	header .top .contacts>*:last-child {
		margin-bottom: 0;
	}

	header .top .contacts>* {
		margin: 0 0 15px;
	}

	header .top .contacts .btn {
		width: 100%;
	}

	#feedbackModal .modal-dialog {
		width: 100%;
		margin: 0 auto;
		padding: 20px;
	}

	.modal-header {
		padding: 73px 0 10px;
		justify-content: flex-start;
	}

	.modal-header .modal-title {
		line-height: 38px;
	}

	.modal-body {
		padding: 0 0 20px;
	}

	.modal-body .text {
		text-align: left;
		line-height: 24px;
		margin-bottom: 10px;
	}

	.modal-body fieldset .field {
		margin-top: 20px;
	}

	.modal .text-form {
		text-align: center;
		font-size: 12px;
		line-height: 16px;
		margin-top: 15px;
	}

	ul.breadcrumbs {
		min-height: initial;
		margin: 0;
	}

	header .title-block {
		max-width: 100%;
		margin: 10px 0 30px;
	}

	header .title-block h1 {
		font-size: 30px;
		line-height: 38px;
		margin-bottom: 10px;
	}

	header .title-block .title-desc {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 0;
	}

	header .form-block fieldset {
		flex-direction: column;
	}

	header .form-block fieldset .field {
		margin-right: 0;
		margin-bottom: 20px;
		width: 100%;
	}

	header .form-block fieldset .field input {
		width: 100%;
		height: 50px;
		padding: 11px 20px;
	}

	header .form-block fieldset .btn {
		width: 100%;
		min-height: 50px;
		padding: 11px 20px;
	}

	.text-form {
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		margin-top: 15px;
	}

	section .title {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 20px;
	}

	.tab-content {
		margin-top: 20px;
	}

	#services .tab-content>.tab-pane .flex {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#services .tab-content>.tab-pane .flex>.item {
		width: 100%;
		flex-basis: 100%;
		padding: 9px 15px;
	}

	#services .item .image,
	#services .item .desc,
	#services .item .bottom {
		display: none;
	}

	#services .tab-content>.tab-pane .flex>.item .top {
		margin-bottom: 0;
	}

	#services .item .top h3.title {
		font-size: 14px;
		line-height: 21px;
		margin: 0;
	}

	main>section {
		margin-bottom: 55px;
	}

	#banner .image-block {
		display: none;
	}

	#banner .text-block {
		padding: 30px 0 20px;
	}

	#banner .text-block .title {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 20px;
	}

	#banner form fieldset,
	#banner2 form fieldset {
		flex-direction: column;
	}

	#banner .text-block .title br {
		display: none;
	}

	input[type="email"],
	input[type="text"] {
		width: 100%;
		font-size: 16px;
		line-height: 28px;
		height: 50px;
		padding: 11px 20px;
	}

	#banner form .input,
	#banner2 form .input {
		width: 100%;
	}

	#banner form fieldset>*,
	#banner2 form fieldset>* {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.field {
		display: block;
		width: 100%;
	}

	.btn-red {
		min-height: 50px;
		padding: 11px 20px;
		width: 100%;
	}

	#banner form fieldset>*:last-child,
	#banner2 form fieldset>*:last-child {
		margin-bottom: 0;
	}

	#banner form .text-form {
		margin-top: 15px;
	}

	#work .title {
		text-align: center;
	}

	div.carousel-mobile {
		display: block;
		margin: 0;
		overflow: hidden;
	}

	#comments .carousel-mobile {
		padding-top: 40px;
	}

	.owl-stage {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;
	}

	.owl-loaded .disabled {
		display: none;
	}

	.carousel-mobile .owl-item .item {
		padding: 0;
		height: 100%;
	}

	.owl-stage-outer {
		overflow: hidden;
	}

	#work .item>div {
		padding: 15px 30px;
	}

	#work .bottom .desc {
		text-align: center;
	}

	#information h2.title {
		margin-bottom: 30px;
	}

	#accordion .card {
		margin-left: 0;
	}

	div#accordion .card-header .btn,
	#information .doc .title,
	#information .map .title {
		text-align: left;
	}

	#information .map {
		width: 100%;
		flex-basis: 100%;
		margin-top: 30px;
	}

	#information .doc {
		width: 100%;
		flex-basis: 100%;
	}

	#information .map>.p-left {
		padding: 0;
	}

	div ymaps {
		max-width: 100%;
		max-height: 335px;
	}

	#banner2 .image-block {
		display: none;
	}

	#banner2 .text-block {
		padding: 30px 0;
	}

	#banner2 .text-block .title br {
		display: none;
	}

	#banner2 .text-block .title {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
	}

	#banner2 form .text-form {
		margin-top: 15px;
	}

	#comments .container>.text-right {
		text-align: left !important;
	}

	#comments .container>.text-right {
		text-align: left !important;
		font-size: 16px;
		line-height: 22px;
	}

	#comments .all-comments {
		top: auto;
	}

	#comments .owl-item>[class*="col-"] {
		padding: 0;
		height: 100%;
	}

	#comments .item {
		padding: 40px 20px 30px;
	}

	#comments .item .image {
		right: 0;
	}

	.footer-left {
		padding: 30px 0 10px;
	}

	.footer-left .logo-block>a {
		margin-right: 0;
	}

	.footer-left .logo-block .logo-desc {
		margin-top: 5px;
		text-align: center;
	}

	.footer-left .logo-block {
		flex-direction: column;
	}

	.footer-left .logo-block .logo-desc br {
		display: none;
	}

	.footer-left .middle {
		margin-top: 30px;
	}

	.footer-left .contacts {
		text-align: center;
		margin-bottom: 30px;
	}

	.footer-left .contacts a {
		margin-right: 0;
	}

	.footer-left .middle .footer-menu>li {
		padding: 0 5px;
		flex-basis: 50%;
		width: 50%;
		text-align: center;
	}

	.footer-left .middle .footer-menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		margin: 0 -5px;
	}

	footer {
		position: relative;
	}

	footer .col-lg-6 {
		position: static;
	}

	footer .copy {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		padding: 10px 15px 12px;
	}

	footer>.container {
		position: relative;
	}

	#comments .owl-stage-outer {
		overflow: initial;
	}

	.footer-right {
		padding: 22px 0;
	}

	footer .footer-right .title {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 20px;
	}

	.footer-right form select {
		height: 50px;
		padding: 11px 35px 11px 20px;
	}

	.footer-right form .text-form br {
		display: none;
	}

	.footer-right form .text-form {
		margin: -5px 0 20px;
	}

	/*
service
*/
	#component .top {
		flex-direction: column;
	}

	#component .top>div {
		margin-right: 0;
		width: 100%;
		flex-basis: 100%;
		justify-content: center;
	}

	#component .description {
		font-size: 16px;
		line-height: 26px;
	}

	#component .extra-fields {
		margin: 20px 0;
		flex-direction: column;
	}

	#component .extra-fields [class*="fon"] {
		padding: 25px 20px 30px;
		max-width: initial;
		width: initial;
		flex-basis: 100%;
		margin: 0 -20px;
	}

	.extra-fields .fon-border {
		border-radius: 0;
		border-top: none;
		border-left: none;
		border-right: none;
	}

	#component .sidebar {
		margin: 0;
		max-width: 100%;
	}

	#component .sidebar .desc {
		font-size: 14px;
		line-height: 20px;
		padding: 0;
	}

	.sidebar .request {
		position: relative;
		padding: 35px 20px 21px 38%;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		min-height: 8em;
	}

	#component .sidebar .request .image img {
		margin: 0;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		min-width: 78px;
		object-fit: contain;
		min-height: initial;
	}

	.sidebar .request .phone {
		text-align: left;
	}

	#component .sidebar .request .image {
		flex-basis: initial;
		margin: 0;
		position: absolute;
		left: 20px;
		top: 20px;
		bottom: 20px;
		width: calc(38% - 20px);
	}

	#component .sidebar .request .desc {
		width: 100%;
		flex-basis: 100%;
		padding-left: 0;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 5px;
	}

	.checkoutWrapper .bg-container {
		padding: 25px 0;
	}

	.checkoutWrapper .container>.flex {
		flex-direction: column;
		justify-content: center;
	}

	.checkoutWrapper .flex .text {
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		width: 100%;
		flex-basis: 100%;
		margin: 0;
	}

	.checkoutWrapper .flex .text .title {
		margin: 0 0 20px;
		line-height: inherit;
		font-size: inherit;
	}

	.checkoutWrapper .flex .form fieldset {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.checkoutWrapper .flex .form fieldset .field:last-child {
		margin-bottom: 0;
	}

	.checkoutWrapper .flex .form fieldset .field {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.checkoutWrapper .flex .form fieldset .btn {
		width: 100%;
	}

	.checkoutWrapper {
		margin-bottom: 60px;
	}

	.checkoutWrapper .container,
	#map .container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.select2 .select2-selection {
		height: 50px;
	}

	#contacts .container .flex {
		flex-direction: column;
	}

	#contacts .flex>div {
		min-width: 100%;
		width: 100%;
		flex-basis: 100%;
	}

	#contacts .flex .right-block>ymaps {
		height: 400px !important;
	}

	#contacts .flex .left-block {
		flex-basis: auto;
		min-width: 100%;
		padding: 25px 30px;
	}

	.footer-right form [type="submit"] {
		max-width: 100%;
	}

	#component .image {
		margin-bottom: 20px;
	}

	#component .image img {
		margin: 0 auto;
		min-height: 200px;
		object-fit: cover;
	}

	#about .text-block .numbers {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#about .text-block .numbers .block:first-child {
		padding-top: 0 !important;
	}

	#about .text-block .numbers .block:last-child {
		padding-bottom: 0 !important;
	}

	#about .text-block .numbers .block {
		padding: 20px 0 30px !important;
		border-top: 2px solid rgb(60 83 166 / 10%);
	}

	#about .text-block .numbers .block {
		border-left: 0;
	}

	#about .text-block .numbers .block .text {
		text-align: center;
	}

	#about .col-md-12 {
		margin-bottom: 20px;
	}

	.quote blockquote br {
		display: none;
	}

	#about>.container>.row {
		margin-bottom: 30px;
	}

	.image.text-right img {
		margin: 0 auto;
	}

	/*comments*/
	.comments .comment:nth-child(odd) .image {
		order: initial;
	}

	#comments-1 .comments .comment>div {
		flex-basis: 100%;
		width: 100%;
		min-width: 100%;
	}

	.comments .comment {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 60px;
	}

	.comments .comment .image {
		margin-bottom: 10px;
	}

	.comments .comment .image img {
		margin: 0 auto;
		max-height: 158px;
	}

	.comment .quote blockquote:before {
		display: none;
	}

	.comment .quote blockquote {
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		padding-left: 0;
	}

	.comment .reply {
		margin-top: 20px;
		padding-left: 20px;
	}

	.comments .comment:nth-child(even) .image img {
		margin: 0 auto;
	}

	#component {
		margin-top: 40px;
		margin-bottom: 60px;
	}
}

@media (max-width: 360px) {
	.sidebar .request .phone a {
		font-size: 18px;
	}
}

form {
	position: relative;
}

.formHolder .message {
	color: #fff;
	text-align: center;
}

.checkoutWrapper .formHolder .message {
	color: #212841;
	text-align: center;
}

.mapHolder iframe {
	width: 100%;
	border: 0;
	height: 500px;
}

.statusHolder {
	z-index: 60;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.5);
}

.statusInner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent url("../images/ajax-loader.gif") no-repeat 50% 50%;
}


table a,
table strong {
	color: #3C53A6;
}

table {
	width: 100%;
	padding: 0;
	margin: 0 0 20px;
	font-size: 13px
}

table caption {
	padding: 0 0 5px;
	width: auto;
	font-style: italic;
	text-align: right;
	font-size: 12px
}

th {
	font-weight: 700;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: left;
	padding: 9px 12px;
	border-style: solid;
	border-width: 1px;
	border-left: none;
	border-top: none;
	border-color: #e1e1e1;

}

td {
	font-size: 13px;
	padding: 9px 12px;
	border-style: solid;
	border-width: 1px;
	border-left: none;
	border-top: none;
	border-color: #e1e1e1;
}

tr:nth-child(even) {
	color: #919191;
}

tr th:first-child,
tr td:first-child {
	border-left-style: solid;
	border-left-width: 1px
}

tr:first-child th,
tr:first-child td {
	border-top-style: solid;
	border-top-width: 1px;
}

@media only screen and (max-width: 767px) {

	.avia_responsive_table .avia-data-table table,
	.avia_responsive_table .avia-data-table tbody,
	.avia_responsive_table .avia-data-table tr,
	.avia_responsive_table .avia-data-table td,
	.avia_responsive_table .avia-data-table th {
		display: block;
		border-top: none;
		border-right: none;
		border-left: none;
		text-align: center
	}

	tr:nth-child(odd) {
		background: rgba(0, 0, 255, 0.05);
	}

	.avia_responsive_table .avia-data-table {
		border-style: solid;
		border-width: 1px
	}

	.avia_responsive_table .avia-data-table .avia-pricing-row .avia-desc-col {
		text-align: center
	}

	.avia_responsive_table .avia-data-table .avia-button-row,
	.avia_responsive_table .avia-data-table tr:first-child th {
		display: none
	}

	.avia_responsive_table .avia-data-table td:before {
		display: block;
		font-style: italic;
		font-size: 11px
	}

	.avia_responsive_table .avia-data-table td {
		position: relative
	}

	/*.responsive .avia_scrollable_table {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

    .avia_scrollable_table .avia-table {
        width: auto
    }

    .responsive .avia_scrollable_table .avia-data-table > thead > tr > th,
    .responsive .avia_scrollable_table .avia-data-table > tbody > tr > th,
    .responsive .avia_scrollable_table .avia-data-table > tfoot > tr > th,
    .responsive .avia_scrollable_table .avia-data-table > thead > tr > td,
    .responsive .avia_scrollable_table .avia-data-table > tbody > tr > td,
    .responsive .avia_scrollable_table .avia-data-table > tfoot > tr > td {
        white-space: nowrap
    }*/
}

.mb0 {
	margin-bottom: 0 !important;
}

.rules {
	/*padding:20px;*/
}

.rules a {
	color: #3C53A6;
	text-decoration: none;
	border-bottom: 1px solid #3C53A6;
}

.rules a:hover {
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.rules strong {}

.rules p {
	font-size: 16px;
	line-height: 20px;
	margin: 10px 0;
	text-align: justify;
}

.rules ul {
	padding: 5px 0;
	margin: 0;
}

.rules ol {
	counter-reset: item;
	padding: 5px 0;
	margin: 0;
}

.rules>ol.fadeOut * {
	/*display:none;*/
}

.rules>ol.fadeOut h3 {
	cursor: pointer;
}

.rules>ol.fadeOut .fadeIn *,
.rules>ol.fadeOut .h3,
.rules>ol.fadeOut h3 {
	display: block;
}

.rules>ol.fadeOut .fadeIn a {
	display: inline;
}

.rules>ol.fadeOut h3 {
	text-align: left;
}

.rules ul {
	padding: 5px 0;
	margin: 0;
}

.rules li {
	font-size: 16px;
	line-height: 20px;
	text-align: justify;
	padding: 2px 0 2px 25px;
	position: relative;
	display: block;
	margin: 0;
}

.rules>ol>li {
	padding-left: 0;
}

.rules>ol.mainList>li {
	padding-left: 25px;
}

.rules i {
	font-style: italic;
}

.rules li li {
	padding: 2px 0 2px 50px;
}

.rules ul>li {
	list-style-type: disc !important;
	display: list-item;
	padding: 2px 0;
	margin: 0 0 0 20px;
}

.rules ol>li:before {
	content: counters(item, ".") "\002E";
	counter-increment: item;
	position: absolute;
	left: 0;
}

.rules ol>li.h3:before {
	color: transparent;
}

.rules h2 {
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.rules h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.readAllRules,
.hideAllRules {
	display: block;
	color: #3C53A6;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
	background: none;
	float: left
}

.hideAllRules {
	display: none;
}

.align-center {
	text-align: center !important;
}

.rules>ol h3 {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}