{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/gibdd",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1653944379289.178,
          "date": "2022-05-30T20:59:50.105Z"
        },
        {
          "file": "img/Group 39.jpg",
          "mtimeMs": 1653798810507.0413,
          "date": "2022-05-30T20:43:14.976Z"
        },
        {
          "file": "img/accardeon/firsten.png",
          "mtimeMs": 1653737901969.4917,
          "date": "2022-05-30T20:43:15.271Z"
        },
        {
          "file": "img/accardeon/identically.png",
          "mtimeMs": 1653737910887.0107,
          "date": "2022-05-30T20:43:15.547Z"
        },
        {
          "file": "img/accardeon/letters.png",
          "mtimeMs": 1653814094053.0442,
          "date": "2022-05-30T20:43:15.840Z"
        },
        {
          "file": "img/accardeon/mirror.png",
          "mtimeMs": 1653737920350.9734,
          "date": "2022-05-30T20:43:16.132Z"
        },
        {
          "file": "img/accardeon/numbers.png",
          "mtimeMs": 1653812626747.312,
          "date": "2022-05-30T20:43:16.424Z"
        },
        {
          "file": "img/accardeon/spec.png",
          "mtimeMs": 1653737892182.6978,
          "date": "2022-05-30T20:43:16.703Z"
        },
        {
          "file": "img/banner/man.png",
          "mtimeMs": 1653406744413.8794,
          "date": "2022-05-30T20:43:17.117Z"
        },
        {
          "file": "img/banner/numbers.png",
          "mtimeMs": 1653410072515.546,
          "date": "2022-05-30T20:43:17.529Z"
        },
        {
          "file": "img/banner/quest.png",
          "mtimeMs": 1653406766936.5989,
          "date": "2022-05-30T20:43:17.815Z"
        },
        {
          "file": "img/comments/woman1.png",
          "mtimeMs": 1653402854882.3604,
          "date": "2022-05-30T20:43:18.131Z"
        },
        {
          "file": "img/comments/woman2.png",
          "mtimeMs": 1653402873961.8223,
          "date": "2022-05-30T20:43:18.491Z"
        },
        {
          "file": "img/comments/woman3.png",
          "mtimeMs": 1653402890330.4429,
          "date": "2022-05-30T20:43:18.822Z"
        },
        {
          "file": "img/filter/Group 39.jpg",
          "mtimeMs": 1653798810507.0413,
          "date": "2022-05-30T20:43:19.216Z"
        },
        {
          "file": "img/head/bghead.jpg",
          "mtimeMs": 1653141895752.3428,
          "date": "2022-05-30T20:43:19.598Z"
        },
        {
          "file": "img/head/bghead1.jpg",
          "mtimeMs": 1653152892248.4727,
          "date": "2022-05-30T20:43:20.071Z"
        },
        {
          "file": "img/head/bmw.jpg",
          "mtimeMs": 1653809016240.4036,
          "date": "2022-05-30T20:43:20.500Z"
        },
        {
          "file": "img/head/head.png",
          "mtimeMs": 1653142075868.2793,
          "date": "2022-05-30T20:43:20.951Z"
        },
        {
          "file": "img/head/logo.png",
          "mtimeMs": 1653142048783.281,
          "date": "2022-05-30T20:43:21.220Z"
        },
        {
          "file": "img/head/logo.svg",
          "mtimeMs": 1653143055571.177,
          "date": "2022-05-30T20:43:21.606Z"
        },
        {
          "file": "img/steps/Line1.png",
          "mtimeMs": 1653841720449.884,
          "date": "2022-05-30T20:43:21.886Z"
        },
        {
          "file": "img/steps/Line2.png",
          "mtimeMs": 1653841726924.8723,
          "date": "2022-05-30T20:43:22.169Z"
        },
        {
          "file": "img/steps/vector.svg",
          "mtimeMs": 1653939380701.4768,
          "date": "2022-05-30T20:43:22.444Z"
        },
        {
          "file": "img/why/clock.jpg",
          "mtimeMs": 1653404563785.2925,
          "date": "2022-05-30T20:43:22.773Z"
        },
        {
          "file": "img/why/file.jpg",
          "mtimeMs": 1653802428706.6587,
          "date": "2022-05-30T20:43:23.099Z"
        },
        {
          "file": "img/why/left.svg",
          "mtimeMs": 1653930006640.6292,
          "date": "2022-05-30T20:43:23.515Z"
        },
        {
          "file": "img/why/right.svg",
          "mtimeMs": 1653930000087.1626,
          "date": "2022-05-30T20:43:23.922Z"
        },
        {
          "file": "img/why/right1.svg",
          "mtimeMs": 1653933226494.7373,
          "date": "2022-05-30T20:43:24.342Z"
        },
        {
          "file": "img/why/shield.jpg",
          "mtimeMs": 1653802445137.0503,
          "date": "2022-05-30T20:43:24.653Z"
        },
        {
          "file": "js/accordeon.js",
          "mtimeMs": 1653940748356.1707,
          "date": "2022-05-30T20:43:24.921Z"
        },
        {
          "file": "js/bootstrap.bundle.min.js",
          "mtimeMs": 1653919498083.9727,
          "date": "2022-05-30T20:43:25.243Z"
        },
        {
          "file": "js/jquery-1.11.1.min.js",
          "mtimeMs": 1653919419430.7327,
          "date": "2022-05-30T20:43:25.561Z"
        },
        {
          "file": "js/jquery.form.min.js",
          "mtimeMs": 1653919699797.0447,
          "date": "2022-05-30T20:43:25.841Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1629987942000,
          "date": "2022-05-30T20:43:26.166Z"
        },
        {
          "file": "js/jquery.maskedinput.min.js",
          "mtimeMs": 1653919577933.455,
          "date": "2022-05-30T20:43:26.423Z"
        },
        {
          "file": "js/owl.carousel.min.js",
          "mtimeMs": 1653919622413.298,
          "date": "2022-05-30T20:43:26.742Z"
        },
        {
          "file": "js/script.js",
          "mtimeMs": 1653921291594.7627,
          "date": "2022-05-30T20:43:26.989Z"
        },
        {
          "file": "js/select2.min.js",
          "mtimeMs": 1653919663548.4338,
          "date": "2022-05-30T20:43:27.315Z"
        },
        {
          "file": "style/bootstrap.min.css",
          "mtimeMs": 1653938278184.31,
          "date": "2022-05-30T20:43:27.663Z"
        },
        {
          "file": "style/carousel.min.css",
          "mtimeMs": 1653578390886.83,
          "date": "2022-05-30T20:43:27.924Z"
        },
        {
          "file": "style/css.css",
          "mtimeMs": 1653942923620.1733,
          "date": "2022-05-30T20:43:28.202Z"
        },
        {
          "file": "style/reset.css",
          "mtimeMs": 1653144178411.8735,
          "date": "2022-05-30T20:43:28.445Z"
        },
        {
          "file": "style/select2.min.css",
          "mtimeMs": 1653578532111.449,
          "date": "2022-05-30T20:43:28.712Z"
        },
        {
          "file": "style/style.css",
          "mtimeMs": 1653801095795.2698,
          "date": "2022-05-30T20:43:29.030Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
