@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400&family=Poppins:wght@200;300;400;500;600&display=swap');

@import "pages.scss";

body {
    margin: 0;
    font-family: 'Poppins';
}

body._lock {
    overflow: hidden;
}

img {
    max-width: 100%;
}

.container_center {
    width: 100%;
    max-width: 1142px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    padding-top: 77px;
    padding-bottom: 27px;
    position: absolute;
    width: 100%;
    z-index: 10;

    &__content {
        @extend .container_center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

    }
}

.logo {
    margin-left: -40px;
    margin-right: 150px;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
}

.logo:visited{
    color: #000;
}

.menu {
    display: flex;

    &__list {
        display: flex;
        padding: 0;
        list-style: none;
        font-weight: 400;
        font-size: 25px;
    }

    &__item {
        margin: 0 22px;
        transform: scale(1);
        color: #000;


        &:hover, a:hover {
            transform: scale(1.1);
            color: #007DFB;
        }
    }

    &__link {
        color: #000;
        text-decoration: none;
    }
}

.menuSecond {
    margin-left: 100px;
    display: flex;
    text-decoration: none;
    list-style: none;

    &__item {
        margin: 0 22px;
    }


    .btn_login {
        text-align: center;
        font-size: 17px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        border-radius: 28px;
        border: 0;
        padding: 15px 37px;
        color: #000;
        text-decoration: none;
        transition: all 0.2s;
        white-space: nowrap;
        box-shadow: 0px 0px 10px #0000001A;



    &:hover {
        transition: all 0.3s;
        box-shadow: 1px 1px 15px 5px rgba(0, 125, 251, 0.29);
    }

}

    .lang {
        font-size: 17px;
        color: #707070;
        background: none;
        font-weight: 300;
        border: none;
        outline: none;
        padding-right: 10px;
        cursor: pointer;
        }

    .search-box {
        display: flex;
        position: absolute;
        height: 20px;
        border-radius: 40px;
    }

    .search-btn {
        background-image: url(../img/Search.png);
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	color: #f0f0f0;
    	width: 20px;
    	height: 20px;
    	border-radius: 50%;
    	text-decoration: none;
    }

    .search-txt {
    	border: none;
    	outline: none;
    	background: none;
    	padding: 5px;
    	color: #000;
    	font-size: 16px;
    	transition: .4s;
    	line-height: 40px;
    	width: 0;
    }

    .search-box:hover .search-txt {
    	width: 150px;
        height: 20px;
        background-color: #fff;
        border-radius: 28px;
        box-shadow: 1px 1px 15px 5px rgba(0, 125, 251, 0.29);
        background-image: url(../img/Search.png);
        background-repeat: no-repeat;
        background-position: right;
    }

    .search-box:hover .search-btn {
        background-image: none;
    }

}

.firstScreen {
    background-image: url(../img/fonJ.png);
    z-index: 1;
    min-height: 695px;
    display: flex;
    align-items: center;


    &__bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 96px;
        line-height: 1.2;
        color: #000;
        margin: 250px 0 36px;
        text-align: center;
        -webkit-animation: comming 3s ease-out;
	    -o-animation: comming 3s ease-out;
	    animation: comming 3s ease-out;
    }

    @keyframes comming {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

    &__text {
        font-size: 22px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #007DFB;
        margin-bottom: 150px;
        text-align: center;
        -webkit-animation: comming2 7s ease;
	    -o-animation: comming2 7s ease;
	    animation: comming2 7s ease;
    }

    @keyframes comming2 {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

    &__actions {
        display: flex;

        .btn {
            margin-right: 48px;
            min-width: 235px;
        }
    }

}

.paralax {
    @media (min-width: 600px) {
	background-image: url(../img/fonJ.png);
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: 100%;
    }
}

.btn {
    color: #fff;

    &_secondary {
        text-align: center;
        font-size: 22px;
        background-color: #007DFB;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 62px;
        border: 0;
        padding: 39px 70px;
        color: #fff;
        text-decoration: none;
        transition: all 0.2s;
	    transform: scale(1);
        margin: 50px 150px 0 auto;

        &:hover {
            transition: all 0.3s;
            box-shadow: -1em 0 1em #000;
        }

        &:active {
            transform: scale(1.2);
        }
    }
}

.arrow {
    display: inline-flex;
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.arrow::before, .arrow::after {
    position: absolute;
    content: '';
}

.arrow::before {
    top: 12px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #fff;
}

.arrow::after {
    width: 12px;
    height: 12px;
    top: 7px;
    right: 0;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}


    .firstScreen__title {
        font-weight: bold;
        font-size: 96px;
        line-height: 1.2;
        color: #000;
        text-align: center;
        -webkit-animation: comming 3s ease-out;
        animation: comming 3s ease-out;
    }

    .firstScreen__text {
        font-size: 20px;
        line-height: 90%;
        letter-spacing: -0.02em;
        line-height: 1.2em;
        color: #007DFB;
        text-align: center;
        -webkit-animation: comming2 7s ease;
        animation: comming2 7s ease;
    }


    .firstScreen__actions {
        margin-top: -75px;
        margin-right: 25px;
    }

    .arrow {
        margin-left: 10px;
    }


.page_center {
    max-width: 991px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    width: 100%;

}
.page__title {
    text-align: center;
    margin: auto;

}
h2 {
    font-size: 35px;
    font-weight: bold;
    color: #007DFB;
    margin: 205px 0 19px 0;
}

img {
    display: block;
    margin: 0 auto;
}

.pagination {
    text-align: center;
    bottom: 100px;
    padding-bottom: 150px;
}

.pagination a {
    font-size: 18px;
    padding: 2px 8px;
    margin: 7px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 50%;
    letter-spacing: 0px;
    color: #000000;
}

.pagination a:hover {
    border: 1px solid #007DFB;
    border-radius: 50%;

}

// АДАПТИВ

@media screen and (max-width: 767px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}

    .firstScreen {
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: 10% 0;
    }

    .firstScreen__title {
        font-size: 36px;
        margin: -150px 0 20px;
    }

    .firstScreen__text {
        font-size: 18px;
        line-height: 90%;
        letter-spacing: -0.02em;
        line-height: 1.2em;
        color: #007DFB;
        text-align: center;
        -webkit-animation: comming2 7s ease;
        animation: comming2 7s ease;
    }

    .btn_secondary {
        font-size: 18px;
        padding: 10px 2px;
        margin: 0 auto;
    }

    .menu__list {
        display: block;
    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        height: 18px;
        width: 30px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon:before,
    .menu__icon:after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
    }


    .menu__icon:before,
    .menu__icon:after {
      content: '';

    }

    .menu__icon:before {
        top: 0;
    }

    .menu__icon:after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform:scale(1) translate(0px,-50%);
    }

    .header {
        padding-top: 10px;
    }

    .menu {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 90%;
        background-color: rgb(229,238,247,0.9);
        padding: 100px 30px 30px 30px;
        transition: right 0.3s ease 0s;
        overflow: auto;
        border-bottom-left-radius: 50px;
    }

    .menu._active {
        right: 0;
        // left: 0;
    }

    .menu:before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;

    }

    .menu__list > li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
    }

    .menu__list > li:last-child {
        margin-bottom: 0;
    }

    .menu__link {
        font-size: 24px;
    }

    .menuSecond {
        position: relative;
        margin: 310px 0px 0px 0px;
        text-decoration: none;
        list-style: none;
    }

    .menuSecond > li {
        margin: 0 5px;
    }

    .logo {
        margin: 0;
        padding: 25px 27px;
        z-index: 5;
    }

    .next__page h2 {
        font-size: 35px;
        font-weight: bold;
        color: #007DFB;
        margin: -191px 0 19px 0;
    }
}
